$pc: 1024px;
$tab: 768px;
$sp: 480px;
$sp-5: 330px;
@mixin pc {
	@media (max-width: ($pc)) {
		@content;
	}
}
@mixin tab {
	@media (max-width: ($tab)) {
		@content;
	}
}
@mixin sp {
	@media (max-width: ($sp)) {
		@content;
	}
}

@mixin sp-ip5 {
	@media (max-width: ($sp-5)) {
		@content;
	}
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

$header-h: 100px;
$footer-h: 100px;
$header-mar: 10px;
$footer-mar: 10px;
